.battle-character.vertical
    .character-slot-block.horizontal
        = render "elements/empty_slot", image: "empty_pp", classes: ""
    .equipments-slot-block.horizontal
        = render "elements/empty_slot", image: "hand", classes: "reverse"
        = render "elements/empty_slot", image: "hand", classes: ""
    .stats-block
        = render "elements/empty_stats"

