.equipments-container {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.battle-recap {
  height: 100%;
}

.performances-container {
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--performance-background);
  border: 3px solid var(--performance-border);
  padding: 0.5rem;
  margin-top: 1rem;
  grid-gap: 0.5rem;

  .performance-container {
    grid-column: auto;
    grid-row: auto;
    align-items: center;
    justify-content: end;
    color: white;
    width: 4rem;

    .performance-value {
      border: none;
      outline: none;
      box-shadow: none;
      font-weight: 700;
      padding-right: 0.2rem;
      text-align: end;
    }
  }

  .performance-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.2rem;
    object-fit: contain;
  }

  .filled-slot {
    pointer-events: none;
  }
}

.character-profile-container {
  position: relative;
  .winner-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    top: -2rem;
    left: calc(50% - 1rem);
  }
}

.winner {
  .performances-container {
    background-color: var(--winner-color);
    border: 3px solid var(--winner-border);
  }

  .name-container {
    background-color: var(--winner-color) !important;
    color: var(--winner-border) !important;
  }
  .filled-slot {
    border: 3px solid var(--winner-color);
  }
}

.loser {
  .filled-slot {
    opacity: 0.6;
  }
}
.battle-actions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-battle-button {
  height: 3rem;
  text-decoration: none;
  margin: 1rem;
  margin-top: 1rem;
  margin-top: 0;
  background-color: var(--border-background);
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  font-size: larger;
  width: min-content;
  padding-inline: 4rem;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:disabled) {
    opacity: 1;
    &:hover {
      background-color: white;
      color: var(--border-background);
      transform: scale(1.02);
      border: 2px solid var(--border-background);
    }
  }
}
