#battle-history {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .battle-container {
    justify-content: space-around;
    margin-bottom: 1rem;
    position: relative;
  }

  .battle-character-container {
    position: relative;
  }

  .versus-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    align-self: center;
  }

  .winner-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    top: -1rem;
    left: calc(50% - 1rem);
  }

  .winner{
    .filled-slot{
        border-color: var(--winner-color)
    }
  }
}
