.title{
    text-align: center;
    border-bottom: 3px solid var(--border-background);
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
}

.logo{
    width: 10rem;
    align-self: center;
}