.home{
    height: 100%;
    width: 100%;
  }

.side{
    height: 100%;
    width: 25%;
    background-color: var(--background-color);
}

.left.side{
    border-right: 3px solid var(--border-background);
}

.right.side{
    border-left: 3px solid var(--border-background);
}

.middle{
    height: 100%;
    width: 50%;
}

.middle-upside{
    height: 70%;
    width: 100%;
    background-image: url("background/arena.png");
    background-size: cover;
    position: relative;
}

.middle-downside{
    height: 30%;
    width: 100%;
    border-top: 3px solid var(--border-background);
    background-color: var(--background-color);
}

