.home{
    height: 100%;
    width: 100%;
    background-image: url("background/arena.png");
    background-size: cover;
  }

.side{
    width: 25%;
    margin: 1rem;
    border: 5px solid ;
    border-radius: 0.5rem;
}

.left{
    background-color: var(--background-color);
    border-color: var(--border-background);
}

.right{
    background-color: var(--battle-history-background);
    border-color: var(--battle-history-border);
}

.middle{
    height: 100%;
    width: 50%;
}

.middle-upside{
    height: 70%;
    width: 100%;
}

.middle-downside{
    height: 25%;
    margin: 1rem;
    border: 5px solid var(--equipment-border);
    background-color: var(--equipment-background);
    border-radius: 0.5rem;

}

